.home-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: auto;
    max-width: 1088px;
    margin-top: 2rem;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 50%;

}

.home-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 50%;
}

.home-media-container img {
  width: 100%;
  height: auto;
}

.home-btn-container {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.home-btn-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 35%;
    border-radius: 60px;
    text-decoration: none;
}

.home-sub-header {
  color: #dfdfdf;
  font-weight: 600;
}

.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px;
}

.home-info-header {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  color: #dfdfdf;
}

.resume-button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    border: 1.5px solid #fff;
    border-radius: 34px;
    height: 3.5rem;
    width: 35%;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    min-width: 180px;
  }
  
  .resume-button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    height: 3.5rem;
    width: 35%;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #fff;
    transition: all .8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .resume-button:hover::before {
    scale: 4;
  }
  
  .resume-button:hover {
    scale: 1;
    color: black;
    box-shadow: 0 0px 20px #fff;
  }
  
  .resume-button:active {
    scale: 1;
  }

  .contact-button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: #1E61D2;
    border-radius: 34px;
    height: 3.5rem;
    width: 35%;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
    min-width: 180px;
  }
  
  .contact-button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    height: 3.5rem;
    width: 35%;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #1E61D2;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .contact-button:hover {
    box-shadow: 0 0px 20px var(--primary);
  }
  
  .contact-button:active {
    scale: 1;
  }

@media only screen and (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse;
    
  }

  .home-text-container {
    width: 100%;
    min-width: 0;
  }

  .resume-button, .contact-button {
    min-width: 150px;
  }

  .home-media-container {
    min-height: 350px;
    width: 100%;
  }

}
  
@media only screen and (max-width: 425px) {

  .home-btn-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .resume-button, .contact-button {
    min-width: 100%;
  }
}
  
@media (min-width:769px) and (max-width:1000px) {
  #home-header {
    font-size: 3rem;
  }

  .home-info-header {
    font-size: 14px;
  }
}​