/* BACKGROUND START */

:root {
  --primary: #1E61D2;
  --secondary: #3e3e3e;
  --tertiary: #18181a;

}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: white;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
  color: white;
}

#bg {
  height: 100vh;
  overflow-x: hidden;
  background: rgb(24, 24, 26);
  background: linear-gradient(
    328deg,
    rgb(24, 24, 26) 0%,
    rgb(24, 24, 26) 100%
  );
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: red solid; */
  padding-top: 1rem;
  padding-left: 11rem;
  padding-right: 11rem;
  padding-bottom: 80px;
}

#bg-elipse-1 {
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: #1E61D2;
  border-radius: 50%;
  top: -190px;
  left: -10px;
  filter: blur(160px);
}

#bg-elipse-2 {
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: #1E61D2;
  border-radius: 50%;
  bottom: 100px;
  right: -200px;
  filter: blur(160px);
  z-index: 0;
}

#bg-line-accent-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  transform: rotate(-40deg);
  position: absolute;
  bottom: -15%;
  left: 6%;
  height: auto;
  width: fit-content;
  /* border: solid red; */
}

.bg-line-accent {
  border-radius: 60px;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 5%) 0%,
    rgba(115, 115, 115, 15%) 100%
  );
  z-index: 0;
}

#bg-line-accent-1 {
  height: 500px;
  width: 90px;
  margin-bottom: 7rem;
}

#bg-line-accent-2 {
  height: 800px;
  width: 90px;
}

#bg-line-accent-3 {
  margin-top: 5rem;
  height: 300px;
  width: 90px;
}

.bg-square-accent {
  position: absolute;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 5%) 0%,
    rgba(115, 115, 115, 15%) 100%
  );
  border-radius: 3px;
}

#bg-square-accent-1 {
  height: 150px;
  width: 150px;
  right: 2%;
  top: 25%;
  animation: rotation 80s infinite linear;
  animation-direction: reverse;
}

#bg-square-accent-2 {
  height: 100px;
  width: 100px;
  right: 20%;
  bottom: 10%;
  animation-delay: 5s;
  animation: rotation 70s infinite linear;
}

#bg-square-accent-3 {
  height: 60px;
  width: 60px;
  right: 17%;
  bottom: 17%;
  animation: rotation 70s infinite linear;
  animation-delay: 1s;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fg {
  z-index: 1;
}

.floating { 
  margin: 50px auto;
  animation: float 5s infinite linear;
}

@keyframes float {
  from {
    transform: rotate(0deg) translate3d(5px, 0, 0) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate3d(5px, 0, 0) rotate(-360deg);
  }
}

@media only screen and (max-width: 1300px) {
  #bg {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  #bg {
    height: 100vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
  }
  
  h1 {
    font-size: 3rem;
  }

  .bg-square-accent {
    display: none;
  }
}