#nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* border: solid orange; */
  width: 100%;
  height: 90px;
  min-height: 85px;
  padding: 15px 0;
  /* margin-bottom: 3rem; */
}

.nav-logo-container {
  height: 100%;
}

#desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 1rem;
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 15%) 0%,
    rgba(115, 115, 115, 15%) 100%
  );
  border-radius: 150px;
  /* padding: .5rem; */
  border: solid #f3f3f36a 2px;
  position: relative;
  padding: .4rem .4rem;
}

#desktop-nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  /* border: solid green; */
  width: fit-content;
  padding: 0 1.5rem;
  font-weight: bold;
  color: ghostwhite;
  mix-blend-mode: difference;
  border-radius: 150px;
}

.nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
  border-radius: 7px;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
  z-index: 5;
}

.active-nav {
  background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 15%) 0%,
    rgba(115, 115, 115, 15%) 100%
  );
  border-radius: 7px;
}

.nav-cursor-container {
  position: absolute;
  height: 100%;
  padding: .4rem 0rem;
  width: auto;
  list-style-type: none;
  /* border: solid red */
}

.nav-cursor {
  height: 100%;
  width: 100%;
  background-color: #fff;
  /* background-color: #cf2447; */
  /* background: rgb(217, 217, 217);
  background: linear-gradient(
    0deg,
    rgba(217, 217, 217, 15%) 0%,
    rgba(115, 115, 115, 15%) 100%
  ); */
  border-radius: 150px;
  list-style-type: none;
}
