.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  max-width: 1088px;
  padding-bottom: 1rem;
}

.project-section {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  max-height: 740px;
}

@media only screen and (max-width: 1089px) {
  .project-section {
    max-height: 800px;
  }
}

@media only screen and (max-width: 768px) {
  .project-section {
    flex-direction: column;
    max-height: none;
  }
}
